@keyframes sumir {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.sumir{
    animation: sumir 0.5s forwards;
}


.aparecer{
    animation: aparecer 0.5s forwards;
}